<div class="container">
<div class="text-center">
<h1>Panel de control del cliente</h1>
<p>Aqui se mostrara el panel inicial del cliente, donde se mostraran las publicaciones y noticias de MetaGym</p>
	
	<p>Actualmente puede acceder a las siguientes funcionalidades:</p>
	<a asp-controller="Cliente" asp-action="GenerarConsultaCita">Solicitar una cita</a><br />
	<a asp-controller="Cliente" asp-action="CitasEnEspera">Ver mis solicitudes de citas</a><br />
	@Html.Partial("_MensajeTemporal")
</div>
</div>