@model EjercicioDTO
@{
    ViewData["Title"] = "Registrar nuevo ejercicio";
}

<h2>Registrar nuevo ejercicio</h2>

<form asp-action="RegistrarEjercicio" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <input asp-for="Tipo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Grupo Muscular</label>
        <input asp-for="GrupoMuscular" class="form-control" />
    </div>
    <div class="form-group">
        <label>Instrucciones</label>
        <textarea asp-for="Instrucciones" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Imagen o video</label>
        <input type="file" name="archivo" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Registrar</button>
</form>