@model EjercicioDTO
@{
    ViewData["Title"] = "Registrar nuevo ejercicio";
}

<h2>Registrar nuevo ejercicio</h2>

<form asp-action="RegistrarEjercicio" asp-controller="Profesional" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Tipo">Nombre del ejercicio</label>
        <input asp-for="Tipo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GrupoMuscular">Descripción</label>
        <textarea asp-for="GrupoMuscular" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Imagen del ejercicio (opcional)</label>
        <input type="file" name="archivo" class="form-control" accept="image/*,video/*" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar ejercicio</button>
</form>