<footer class="footer mt-5 py-3 bg-dark text-light border-top border-danger border-opacity-25">
    <div class="container text-center">
        <div class="row text-center">
            <div class="col-md-4">
                <h6>Dirección</h6>
                <a href="https://maps.app.goo.gl/Kw3UmCq5UnkaBEYt5" target="_blank">Colonia 1466 esq Barrios Amorín</a>
            </div>
            <div class="col-md-4">
                <h6>Instagram</h6>
                <a href="https://www.instagram.com/metagym.uy/" target="_blank">metagym.uy</a>
            </div>
            <div class="col-md-4">
                <h6>Contacto</h6>
                <p><strong>095 074 652</strong></p>
            </div>
        </div>
        <hr class="bg-secondary" />

        <p class="text-muted small mb-0">
            © @DateTime.Now.Year MetaGym. Todos los derechos reservados. El sitio es de carácter informativo. Para emergencias, contactá con tu centro médico. Política de privacidad y términos disponibles bajo solicitud.
        </p>
    </div>
    <div class="footer-legal mt-3 text-center">
        <a href="/Home/PoliticaPrivacidad" class="footer-link">Política de Privacidad</a> |
        <a href="/Home/TerminosUso" class="footer-link">Términos de Uso</a>

    </div>
</footer>
