.tarjeta-publicacion {
    min-width: 300px;
    max-width: 300px;
    flex-shrink: 0;
    background-color: #1e1e1e;
    border: 1px solid #333;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-bottom: 15px;
}

    .tarjeta-publicacion:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
        z-index: 2;
    }

.filtros label {
    font-weight: bold;
    color: #ccc;
}

#contenedorPublicaciones {
    max-height: 420px;
    overflow-x: auto;
    padding: 10px;
}
