@model UsuarioGenericoDTO

<div class="container">
    <h2>Editar Profesional</h2>

    <form asp-action="GuardarEdicionAdmin" asp-controller="Admin" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Rol" />

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Usuario" readonly="readonly">Usuario</label>
            <input asp-for="Usuario" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Pass">Contraseña</label>
            <input asp-for="Pass" type="password" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success mt-3">Guardar cambios</button>
    </form>
