@model EstablecimientoDTO
@{
    ViewData["Title"] = "Editar Establecimiento";
}

<div class="card py-2 container">
    <h2 class="text-light">Editar establecimiento</h2>

    <form asp-action="EditarEstablecimiento" method="post" enctype="multipart/form-data" class="bg-dark text-light p-4 rounded">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Latitud" id="latitud" />
        <input type="hidden" asp-for="Longitud" id="longitud" />

        <div class="form-group mb-3">
            <label>Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label>Dirección</label>
            <input asp-for="Direccion" class="form-control mb-2" id="direccion" placeholder="Se completa desde el mapa" />
            <span asp-validation-for="Direccion" class="text-danger small"></span>
            <div id="mapaEstablecimiento" class="rounded shadow-sm" style="height: 400px;"></div>
        </div>

        @if (!string.IsNullOrEmpty(Model.UrlMedia))
        {
            <div class="form-group mb-3">
                <label>Imagen actual</label><br />
                <img src="@Model.UrlMedia" alt="Imagen actual" style="max-width: 300px;" class="img-fluid rounded shadow-sm" />
            </div>
        }

        <div class="form-group mb-3">
            <label>Reemplazar imagen</label>
            <input type="file" name="archivo" class="form-control" />
        </div>

        <button type="submit" class="btn btn-warning mt-3">Guardar cambios</button>
    </form>

</div>
    <script src="~/js/admin/establecimientoEditar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCujqNEiedXkyO3mMkfXzz6vPvPW7C20Gg&callback=initMap" async defer></script>
